@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    flex-direction:column;
}

div{
    display:flex;
    flex-direction: column;
    border:1px solid black;
    padding:10px;
    align-items:center;
}

input{
    border:1px solid black;
    margin:10px;
    width: 50%;
    border-radius:10px;
    padding: 10px;
    text-align:center;
    font-size:20px;
}

button{
    margin: 10px;
    width: 50%;
    border-radius:10px;
    border:none;
    padding:6px;
    font-weight:600;
}

button:hover{
    background-color: lightgrey;
}

table{
    margin-top: 40px;
    border:1px solid black;
    width: 40%;
    text-align:center;
}


.cor_clara{
    background-color:rgba(211, 211, 211, 0.382);
}
.cor_escura{
    background-color:rgba(204, 204, 204, 0.57);
}

img{
    margin-top: 10%;
    height: 80px;
    justify-content: center;
    align-items: center;
}